SECRET_KEY=django-insecure-8$18&l441c(&cd(3%s+b38*2@*%s#g!d1@r+es(+m01xuf+gg(
DEBUG=True

# PostgreSQL 
POSTGRES_DB=name_db
POSTGRES_USER=admin
POSTGRES_PASSWORD=syperpassword
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

#Вывод Sql запросов в консоль
DJANGO_SQL_LOG_LEVEL=DEBUG